<div class="mail">
  <dl>
    <dt>From</dt>
    <dd>{{model.from}}</dd>
    <dt>To</dt>
    <dd>{{model.to}}</dd>
    <dt>Date</dt>
    <dd>{{date model.date}}</dd>
  </dl>
  <h4>{{model.subject}}</h4>
  <p>{{model.body}}</p>
</div>
