<div class="mail">
  <dl>
    <dt>From</dt>
    <dd>{{from}}</dd>
    <dt>To</dt>
    <dd>{{to}}</dd>
    <dt>Date</dt>
    <dd>{{date date}}</dd>
  </dl>
  <h4>{{subject}}</h4>
  <p>{{body}}</p>
</div>
