<% wrap_layout :layout do %>
  <% content_for :head do %>
    <script type="text/javascript" src="/javascripts/api.js"></script>
  <% end %>

  <% content_for :sidebar do %>
    <ol id='toc-list'>
      <li class='level-1'>
        <a href="#">Projects</a>
        <ol>
          <% @apis.each do |key, opts| %>
          <li class='level-3 <%= api_li_class(key) %>'>
            <a href="/<%= opts[:root] %>"><%= opts[:name] %></a>
          </li>
          <% end %>
        </ol>
      </li>

      <li class='level-1'><a href="<%= sha_url %>" target="_blank"> Tag: <%= sha %></a></li>

      <% li_for(:modules) do %>
        <a href='#'>Modules</a>
        <% ol_for(:modules) do %>
          <% api_modules.each do |id, data| %>
            <% li_for(:modules, name: data['name'], class: 'sub-selected') do %>
              <%= api_module_link data['name'] %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% li_for(:namespaces) do %>
        <a href='#'>Namespaces</a>
        <% ol_for(:namespaces) do %>
          <% api_namespaces.each do |id, data| %>
            <% li_for(:namespaces, name: data['name'], class: 'sub-selected') do %>
              <%= api_namespace_link data['name'] %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% li_for(:classes) do %>
        <a href='#'>Classes</a>
        <% ol_for(:classes) do %>
          <% api_classes.each do |id, data| %>
            <% li_for(:classes, name:data['name'], class: 'sub-selected') do %>
              <%= api_class_link data['name'] %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
  <% end %>
  <%= yield %>
<% end %>
