<%
  @title = section_name
  if not chapter_name.blank?
    @title += ": #{chapter_name}"
  else
   @title = 'Guides'
  end
%>

<% wrap_layout(:layout) do %>
  <% content_for(:sidebar) do %>
    <%= index_for(data.guides) %>
  <% end %>

  <% if warning %>
    <%= warning %>
  <% end %>
  <div class="chapter">
    <%= chapter_heading %>
    <hr>
    <%= yield %>
    <%= chapter_links %>
  </div>

  <script>
    $(function(){
      $("#toc-list .level-1 > a").click(function() {
        $(this).parent().find('> ol').slideToggle(function() {
          positionBackToTop(true);
        });

        return false;
      });

      $(function(){
        $('.anchorable-toc').each(function(){
          var toc = $(this),
          id = toc.attr('id'),
          href = "#" + id,
          anchor = '<a class="toc-anchor" href="'+href+'"></a>';

          toc.prepend(anchor);
        });
      });

    });
  </script>
<% end %>
