<%
  @title = section_name
  if not chapter_name.blank?
    @title += ": #{chapter_name}"
  else
   @title = 'Guides'
  end
%>

<% wrap_layout(:layout) do %>
  <% content_for :foot do %>
    <script type="text/javascript" src="/javascripts/guides.js"></script>
    <script src="http://static.jsbin.com/js/embed.js"></script>
  <% end %>
  <% content_for(:sidebar) do %>
    <%= index_for(data.guides) %>
  <% end %>

  <% if warning %>
    <%= warning %>
  <% end %>
  <div class="chapter">
    <%= chapter_heading %>
    <hr>
    <%= yield %>
    <%= chapter_links %>
  </div>
<% end %>
