{{#if includeReleasesInFileList}}
  {{#each (params project.lastReleaseProdUrl project.lastReleaseMinUrl project.lastReleaseDebugUrl) as |url|}}
    <tr>
      <td><a href={{url}}>{{tag-url-path url}}</a></td>
      <td>{{format-date-time project.date}}</td>
      <td>{{copy-clipboard label="Link" text=url}} {{copy-clipboard label="Script Tag" text=(script-tag url)}}</td>
    </tr>
  {{/each}}
{{/if}}
{{#each project.files as |file|}}
  <tr>
    <td><a href={{file.url}}>{{file.name}}</a></td>
    <td>{{format-date-time file.lastModified}}</td>
    <td>{{copy-clipboard label="Link" text=file.url}} {{copy-clipboard label="Script Tag" text=file.scriptTag}}</td>
  </tr>
{{/each}}
