<h3>Last 3 Pull Requests to Ember.js</h3>
<ul>
{{#each}}
  <li>
    <div class="issue-number">#{{number}}</div>
    <div class="issue-title">
      <a {{bindAttr href=html_url}}>{{title}}</a>
    </div>
    <div class="author-name">
      Opened by <a {{bindAttr href=head.user.html_url}}><strong>@{{head.user.login}}</strong></a>
    </div>
  </li>
{{/each}}
</ul>
