<ol id='toc-list' class="blog-sidebar">
  <% if blog.tags['Recent Posts'] %>
  <li class='level-1'>
    <a href="<%= tag_path 'Recent posts'%>">Recent Posts</a>
    <ol style="display:block">
      <% blog.tags['Recent Posts'].sort_by(&:date).reverse.take(5).each_with_index do |article, i| %>
      <li class='level-3'><%= link_to article.title, article %></li>
    <% end %>
    </ol>
  </li>
  <% end %>
  <li class='level-1'>
    <a href="<%= tag_path 'Releases'%>">Releases</a>
    <ol style="display:block">
      <% blog.tags['Releases'].sort_by(&:date).reverse.take(7).each_with_index do |article, i| %>
      <li class='level-3'><%= link_to article.title, article %></li>
    <% end %>
    </ol>
  </li>
  <li class="level-1">
    <span class="level-1-text" id="archives-by-year">Browse By Year</span>
    <ol style="display:block" aria-labelledby="archives-by-year">
      <li class="level-2">
        <a href="<%= tag_path '2012'%>">2012</a>
      </li>  
      <li class="level-2">
        <a href="<%= tag_path '2013'%>">2013</a>
      </li>
      <li class="level-2">
        <a href="<%= tag_path '2014'%>">2014</a>
      </li>
      <li class="level-2">
        <a href="<%= tag_path '2015'%>">2015</a>
      </li>
      <li class="level-2">
        <a href="<%= tag_path '2016'%>">2016</a>
      </li>
      <li class="level-2">
        <a href="<%= tag_path '2017'%>">2017</a>
      </li>
      <li class="level-2">
        <a href="<%= tag_path '2018'%>">2018</a>
      </li>
    </ol>
  </li>
  <li class="level-1">
    <span class="level-1-text" id="archives-by-release">Browse by Major Version</span>
    <ol style="display:block" aria-labelledby="archives-by-release">
      <li class="level-2">
        <a href="<%= tag_path '1'%>">1.x</a>
      </li>
      <li class="level-2">
        <a href="<%= tag_path '2'%>">2.x</a>
      </li>
      <li class="level-2">
        <a href="<%= tag_path '3'%>">3.x</a>
      </li>
    </ol>
  </li>
  <li class="level-1">
    <span class="level-1-text" id="archives-by-topic">Browse By Subject</span>
      <ol style="display:block" aria-labelledby="archives-by-topic">
        <li class="level-2">
          <a href="<%= tag_path 'Roadmap'%>">Roadmap</a>
        </li>
        <li class="level-2">
          <a href="<%= tag_path 'Announcement'%>">Announcements</a>
        </li>
        <li class="level-2">
          <a href="<%= tag_path 'Security'%>">Security</a>
        </li>
        <li class="level-2">
          <a href="<%= tag_path 'Performance'%>">Performance</a>
        </li>
        <li class="level-2">
          <a href="<%= tag_path 'Router'%>">Router</a>
        </li>
        <li class="level-2">
          <a href="<%= tag_path 'Ember Data'%>">Ember Data</a>
        </li>
        <li class="level-2">
          <a href="<%= tag_path 'Testing'%>">Testing</a>
        </li>     
      </ol>
  </li>
</ol>
