---
pageable: true
per_page: 12
---
<% @title = tagname %>

<% partial_for :sidebar, 'sidebar' %>

<h1><%= tagname %></h1>

<% page_articles.each_with_index do |article, i| %>
  <article class="blog-post-summary">
    <h2 class="blog-post-title"><%= link_to article.title, article %> &ndash; <time><%= article.date.strftime('%b %d, %Y') %></time></span></h2>
    <% if article.data.guestPost %>
      <span class="post-tag">Guest Post</span>
    <% elsif article.data.syndicatedPost %>
      <span class="post-tag">Syndicated Post</span>
    <% end %>
    <% if article.data.author %>
      <h5 class="blog-post-summary-author">
        Posted By: <%= article.data.author %>
      </h5>
    <% end %>
    <%= article.summary %>
    <%= link_to "Read more...", article %>
    <% if article.data.syndicatedPost %>
    <h5 class="original-post-url">
      Original Posted at: <%= link_to(article.data.url, article.data.url) %>
    </h5>
    <% end %>
  </article>
<% end %>
