
<% item_name_id= "#{type}_#{sanitize_class item['name']}" %>
<div id="<%= item_name_id %>" class="<%= type %> <%= api_classes_for_item item %> item-entry">
  <h3 data-id="<%= item_name_id %>" class="name anchorable-toc"><code><%= item['name'] %></code></h3>
<% if item['params'] %>
  <span class="args">
    (<%= item['params'].map{|i| i['name']}.join(', ') %>)
  </span>
<% end %>

<% if item['return'] %>
  <span class="type"><%= api_class_link item['return']['type'] %></span>
<% end %>

<% if item['type'] %>
  <span class="type"><%= api_class_link item['type'] %></span>
<% end %>

<% if item['deprecated'] %>
  <%# TODO: Handle deprecation message %>
  <span class="flag deprecated">deprecated</span>
<% end %>

<% if item['access'] %>
  <span class="flag <%= item['access'] %>"><%= item['access'] %></span>
<% end %>

<% if item['final'] %>
  <span class="flag final">constant</span>
<% end %>

<% if item['static'] %>
  <span class="flag static">static</span>
<% end %>

<% if item['optional'] %>
  <span class="flag optional">optional</span>
<% end %>

<% if item['required'] %>
  <span class="flag required">required</span>
<% end %>

  <div class="meta">
      <% if item['overwritten_from'] %>
        Inherited from
        <%= api_class_link item['overwritten_from']['class'], "method_#{item['overwritten_from']['name']}" %>
        <% if item['file'] %>
          but overwritten in
        <% end %>
      <% else %>
        <% if item['extended_from'] %>
          Inherited from
          <%= api_class_link item['extended_from'], "method_#{item['name']}" %>
        <% else %>
          <% if item['file'] %>
            Defined in
          <% end %>
        <% end %>
      <% end %>
      <%= api_file_link item %>

    <%# TODO: Handle deprecation message %>

    <% if item['since'] %>
      <br/>Available since <%= item['since'] %>
    <% end %>
  </div>

  <% if item['description'] %>
    <div class="description">
      <%= api_markdown item['description'] %>
    </div>
  <% end %>

  <p>
    <% if item['default'] %>
      <strong>Default:</strong> <code><%= item['default'] %></code>
    <% end %>
  </p>

  <% if item['example'] %>
    <div class="example">
      <h4>Example:</h4>

      <div class="example-content">
        <% item['example'].each do |example| %>
          <%= api_markdown example %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if item['params'] %>
    <div class="params">
      <h3>Parameters:</h3>

      <dl>
        <% item['params'].each do |param| %>
          <dt><strong><%= param['name'] %></strong> <span class="type"><%= api_class_link param['type'] %></span></dt>
          <dd><%= param['description'] %></dd>
        <% end %>
      </dl>
    </div>
  <% end %>

  <% if item['return'] %>
    <div class="return">
      <h3>Returns:</h3>
      <dl>
        <dt><span class="type"><%= api_class_link item['return']['type'] %></span>
        <dd> <%= item['return']['description'] %></dd>
      </dl>
    </div>
  <% end %>
</div>
