<h1 class="api-header">
  <%= @class['name'] %> <%= @class['static'] ? "Namespace" : "Class" %>
  <% if @class['file'] %>
    <%= api_file_link @class, :class => "edit-page", :target => "_blank" %>
  <% end %>
</h1>

<hr>

<% if @class['deprecated'] %><p>DEPRECATED</p><% end %>
<% if @class['beta'] %><p>BETA</p><% end %>
<% if @class['access'] %><p><%= @class['access'].upcase %></p><% end %>

<div class="class-info">
  <% if @class['extends'] %>
    <p>Extends: <%= api_class_link @class['extends'] %></p>
  <% end %>

  <% if @class['uses'] %>
    <% @class['uses'].each do |name| %>
      <p>Uses: <%= api_class_link name %></p>
    <% end %>
  <% end %>

  <% if @class['file'] %>
    <p>Defined in: <%= api_file_link @class %></p>
  <% end %>

  <% if @class['submodule'] %>
    <p>Module: <%= api_module_link @class['submodule'] %></p>
  <% elsif @class['module'] %>
    <p>Module: <%= api_module_link @class['module'] %></p>
  <% end %>
</div>

<% if @class['description'] %>
  <div class="description">
    <%= api_markdown @class['description'] %>
  </div>
<% end %>

<% types = ['method', 'property', 'event'].select{|t| @class.classitems[t] } %>

<% if types.any? %>
  <div class="tabs">
    <ul>
      <li><a href="#index">Index</a></li>
      <% types.each do |type| %>
        <li><a href="#<%= type.pluralize %>"><%= type.pluralize.titleize %></a></li>
      <% end %>
    </ul>
    <div class="pane" id="index">
      <%= partial "api_options" %>
      <% types.each do |type| %>
        <p><h2><%= type.pluralize.titleize %></h2></p>
        <ul class="index-list">
          <% @class.classitems[type].sort.each do |(name, data)| %>
            <li class="<%= type %> <%= api_classes_for_item(data) %>">
              <a href="#<%= type %>_<%= sanitize_class name %>"><%= name %></a>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% types.each do |type| %>
    <div class="pane" id="<%= type.pluralize %>">
      <%= partial "api_options" %>
      <% @class.classitems[type].sort.each do |(name, data)| %>
        <%= partial "api/item", :locals => { :item => data, :type => type } %>
      <% end %>
    </div>
  <% end %>
  </div>
<% end %>
