
  <script type="text/javascript">
  $(function() {
    $('.js-toggle').on('click', function() {
      $(this).toggleClass('expanded');
      if ($(this).attr('aria-expanded') == 'true') {
        $(this).attr('aria-expanded', 'false');
      } else {
        $(this).attr('aria-expanded', 'true');
      };
      $(this).siblings().toggleClass('active');
    });
    $('.js-menu-toggle').on('click', function() {
      $(this).parent().next().toggleClass('active');
    })
  });
  </script>

<header>
  <nav aria-label="main navigation">
    <div class="mobile-display hidden-md">
      <a href="http://emberjs.com/" class="nav-brand hidden-md">
        <img src="/images/ember-logo.svg" alt="ember homepage" />
      </a>
      <button class="js-menu-toggle btn btn-menu">Menu</button>
    </div>
    <ul class="nav nav-header">
    <li class="hidden-sm">
        <a href="http://emberjs.com/" class="nav-brand hidden-sm">
          <img src="/images/ember-logo.svg" alt="ember homepage" />
        </a>
    </li>
    </li>
      <li class="nav-dropdown">
        <a href="#" aria-haspopup="true" role="button" aria-expanded="false" class="js-toggle dropdown-caret" id="js-dropdown">Learn   </a>
        <ul class="dropdown-menu">
          <%= link_to_page "Resources", "/learn" %> 
          <%= link_to_page "Tutorial", "/tutorial" %>
          <%= link_to_page "Guides", "http://guides.emberjs.com" %>
          <%= link_to_page "Deprecations", "/deprecations" %>
   
        </ul>
      </li>
      <li class="nav-dropdown">
      <a href="#" aria-haspopup="true" role="button" aria-expanded="false" class="js-toggle dropdown-caret" id="js-dropdown-api">APIs  </a>
        <ul class="dropdown-menu">
          <%= link_to_page "Ember", "/api" %>
          <%= link_to_page "Ember Data", "/api" %>
          <%= link_to_page "Ember CLI", "/PI" %>
        </ul>
      </li>  
      <%= link_to_page "Community", "/community" %>
      <%= link_to_page "Blog", "/blog" %>
      <%= link_to_page "Builds", "/builds" %>
      <li class="nav-search">
        <form>
          <label for="search-input" class="visually-hidden">Search</label>
          <input type="text" id="search-input" class="search-input" placeholder="Search ..."/>
        </form>
      </li>
    </ul>
  </nav>
</header>
