---
title: "Community"
---

<% data.community.chapters.each do |chapter| %>
  <div class="community section">
    <%= render :markdown, "community/#{chapter}.md" %>
  </div>
<% end %>

<div class="community section">
  <h2>Blogs</h2>

  <p>This is a short list of some blogs that write regularly about Ember:</p>

  <ul class="blogs">
    <% data.blogs.each do |blog| %>
      <li>
        <%= link_to blog.name, blog.url %><br>
        <%= blog.description %>
      </li>
    <% end %>
  </ul>
</div>


<div class="community section">
  <h2>Meetups</h2>

  <p>There are a number of different Ember meetups around the world.
    Going to a meetup is a great way to learn more about Ember and meet
    other developers.</p>

  <table class="columns">
    <tr>
      <% data.meetups.each do |name, groups| %>
        <td>
          <h3><%= name %></h3>

          <ul>
            <% groups.each do |group| %>
              <li><%= link_to group.location, group.url %></li>
            <% end %>
          </ul>
        </td>
      <% end %>
    </tr>
  </table>
</div>
