---
title: "Users"
responsive: true
---

<h1>
  See Who's Using Ember.js
</h1>

<p>
  Logos are added by company representatives. These companies may or may not be using Ember on their main web properties, but they're definitely using it somewhere in their organizations! 
</p>
<p>
  Feel free to track down folks who work at a specific company if you're looking for more detail on their specific usage.
</p>

<div class="users section">

<ul class="user-showcase">
  <% data.users.each do |user| %>
    <li>
      <a href="<%= user.url %>" rel="nofollow" target="_blank" class="user-showcase__link">
        <img
            src="/images/about/<%= user.image %>"
            <% if sitemap.find_resource_by_path("/images/about/" + user.image.gsub(/(\.\w+)$/, "_x2#{$1}")) %>
              srcset="<%= "/images/about/" + user.image.gsub(/(\.\w+)$/, "_x2#{$1}") %> 2x, /images/about/<%= user.image %> 1x"
            <% end %>
            alt="<%= user.alt %>">
      </a>
    </li>
  <% end %>
</ul>

<!-- <a class="orange button" href="mailto:hello@emberjs.com">
  GET LISTED
</a> -->

<p>
  To add your company or project to this page, <a href="https://github.com/emberjs/website" rel="nofollow">submit a Pull Request</a>.<br>Be sure that your logo has a transparent background and includes adequate white space.<br>Additional instructions are in the <a href="https://github.com/emberjs/website/blob/master/data/users.yml#L1" target="_blank" rel="nofollow">code</a>.
</p>

</div>
