<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ember.js - <%= data.page.title %></title>
    <meta charset="utf-8">
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "highlight" %>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27675533-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script type="text/javascript">
      $(function() {
        $('#logo').on('click', function(evt) {
          if (evt.shiftKey) {
            $('#content-wrapper').toggleClass('grid');
            return false;
          }
        });

        var backToTop = $('#back-to-top');
        var doc = $(document);
        var offset = backToTop.offset();
        var marginTop = 90;
        var showing = false;

        if (backToTop.length) {
          backToTop.on('click', function(evt) {
            $('html,body').animate({scrollTop: 0}, 200);
            return false;
          });

          doc.on('scroll', function() {
            if (!showing && doc.scrollTop() > offset.top+200) {
              showing = true;
              backToTop.css({
                opacity: 1,
                position: 'fixed',
                top: 20,
                left: offset.left
              });
            } else if (showing && doc.scrollTop() <= offset.top+200) {
              showing = false;
              backToTop.css({
                opacity: 0
              });
            }
          });
        }
      });
    </script>
  </head>

  <body>
    <div id="header">
      <div id="wrapper">
        <a id="logo" href="/">&nbsp;</a>
        <ul id="nav">
          <%= link_to_page "about", "/about" %>
          <%= link_to_page "docs", "/documentation" %>
		  <%= link_to_page "guides", "/guides" %>
          <%= link_to_page "community", "/community" %>
          <%= link_to_page "api", "http://docs.emberjs.com" %>
        </ul>
        <div id="github">
          <a href="https://github.com/emberjs/ember.js"><img src="/images/fork-us.png">Fork Us!</a>
        </div>
      </div>
    </div>

    <div id="content-wrapper">
      <% if content_for?(:sidebar) %>
        <div id="sidebar">
          <%= yield_content :sidebar %>
          <div id="back-to-top"><a href="#">&#11014; Back to Top</a></div>
        </div>
      <% end %>
      <div id="content" <% if content_for?(:sidebar) %>class="has-sidebar"<% end %>>
        <%= yield %>
      </div>
    </div>

    <div id="footer">
      <div class="info">
        <div class="links"><a href="http://twitter.com/emberjs">Twitter</a> &bull; <a href="https://github.com/emberjs/ember.js">GitHub</a></div>
        <div class="copyright">Copyright 2012 <a href="http://tilde.io">Tilde Inc.</a></div>
        <div class="credit">Design by <a href="http://www.heropixel.com">HeroPixel</a></div>
      </div>
    </div>
  </body>
</html>

