<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ember.js - <%= data.page.title %></title>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "highlight" %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <%= javascript_include_tag 'waypoints.min.js' %>
    <script type="text/javascript">
      (function($){
        $.fn.anchorScroll = function(){
          this.click(function(event){
            event.preventDefault();
            var parts = this.href.split("#"),
               target = parts[1],
               offset = $('#'+target).offset(),
                  top = offset.top;

            $('html, body').animate({scrollTop: top}, 500);
          });
        };

        $(function(){
          $('.toc a').anchorScroll();
          $('#sidebar').waypoint(function(event,direction){
            $('.toc').toggleClass('sticky', direction === "down");
            }, {offset: '0'});


          $('.section').waypoint(function(element,direction){
            var element = $(this),
                     id = element.attr('id'),
                 anchor = $('a[href=#'+id+']'),
            previousAnchor =  anchor.closest('li').prev().find('a'),
            activeAnchor   = direction === 'down' ? anchor : previousAnchor;

            $('.toc a').removeClass('active');
            activeAnchor.addClass('active');
          });
        });
      })($)

    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27675533-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <div id="header">
      <div id="wrapper">
        <div id="logo">&nbsp;</div>
        <ul id="nav">
          <%= link_to_page "docs", "/documentation" %>
          <%= link_to_page "community", "/community" %>
          <%= link_to_page "examples", "/examples" %>
        </ul>
      </div>
    </div>

  <%# <div id="about">%>
  <%#   <p>%>
  <%#     Ember is a JavaScript framework for creating ambitious web applications%>
  <%#   </p>%>
  <%#   <a class="button" href="https://github.com/downloads/emberjs/ember.js/ember-0.9.3.min.js">download</a>%>
  <%#   <small>35k min + gzip | <a href="https://github.com/downloads/emberjs/ember.js/ember-0.9.3.js">debug build</a></small>%>

  <%#   <a class="button" href="https://github.com/downloads/emberjs/starter-kit/starter-kit.0.9.3.zip">starter kit</a>%>
  <%# </div>%>
    <div id="github">
      <a href="https://github.com/emberjs/ember.js"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
    </div>
    <div id="download">
      <div id="download-ember">
        <a href="https://github.com/downloads/emberjs/ember.js/ember-0.9.4.min.js">
          <img src="/images/download_button.png">
        </a>
        <div class="info">37k min+gzip |
          <a class="debug" href="https://github.com/downloads/emberjs/ember.js/ember-0.9.4.js">
            debug build
          </a>
        </div>
      </div>
      <div id="download-starter-kit">
        <a href="https://github.com/downloads/emberjs/starter-kit/starter-kit.0.9.4.zip">
          <img src="/images/download_starter_kit_button.png">
        </a>
      </div>
    </div>
    <div id="content-wrapper">
      <% if content_for?(:sidebar) %>
        <div id="sidebar">
          <%= yield_content :sidebar %>
        </div>
      <% end %>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>

