<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#E04E39">
    <% if current_page.data.responsive.eql? true %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <% end %>
    <title>Ember.js - <%= current_page.data.title || @title %></title>
    <meta property="st:title" content="Ember.js: <%= current_page.data.title || @title %>" />
    <meta property="og:title" content="Ember.js: <%= current_page.data.title || @title %>" />
    <meta property="og:description" content="Ember.js helps developers be more productive out of the box. Designed with developer ergonomics in mind, its friendly APIs help you get your job done—fast." />
    <meta property="og:image" content="http://emberjs.com/images/tomster-sm.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@emberjs" />
    <meta name="twitter:title" content="<%= current_page.data.title || @title %>"/>
    <meta name="google-site-verification" content="N9yOP2jCLcZBMHUet-JRqU2jnLVPeLDaePpkCqXGQXM" />
    <meta name="twitter:image" content="http://emberjs.com/images/tomster-twitter-card.png" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
    <!--[if lte IE 7 ]><%= stylesheet_link_tag "fonts/fontello-ie7" %><![endif]-->
    <%= stylesheet_link_tag "site" %>
    <link href="/blog/feed.xml" rel="alternate" type="application/atom+xml" title="Ember.js - Blog" />
    <% if current_page.data.no_index.eql? true %>
      <meta name="robots" content="noindex">
    <% end %>
    <link rel="stylesheet" href="https://glimmer-styleguide.global.ssl.fastly.net/glimmer-styleguide/master/app-cf72b59a166beb307683d9d0dae6bb0f.css" />
    <%= yield_content :head %>
  </head>

  <body class="<%= page_classes current_page.data %>">

    <!--[if lt IE 9]>
      <script type="text/javascript" src="/javascripts/common-old-ie.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
      <script type="text/javascript" src="/javascripts/common-modern.js"></script>
    <!--<![endif]-->
    <%= partial "header" %>

    <%= yield_content :outside_wrapper %>

    <div id="content-wrapper" class="content-wrapper">
      
    <% sidebar = rendered_partial_for(:sidebar) || yield_content(:sidebar) %>
      <div id="content" class="main<% if sidebar %> has-sidebar<% end %>" role="main">
        <%= yield %>
      </div>
      <% if sidebar %>
        <aside class="sidebar" role="complementary">
          <%= sidebar %>
          <div id="back-to-top" class="back-to-top"><a id="back-top-top" href="#">&#11014; Back to Top</a></div>
        </aside>
        
      <% end %>
      
      
    </div>

    <div class="cta-contribute">
      <a title="Use GitHub to suggest an edit to this page" href="https://www.github.com/emberjs/website">
        Contribute to this page
      </a>
    </div>

    <main-footer></main-footer>

    <%= yield_content :foot %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
      _gaq.push(['_setAccount', 'UA-27675533-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/custom-elements/1.0.0/custom-elements.min.js"></script>
    <script src="https://glimmer-styleguide.global.ssl.fastly.net/glimmer-styleguide/master/app-e9fb0ee612345875c7e6f01760c81101.js"></script>
  </body>
</html>
