---
title: Learn
responsive: true
---

<% content_for :outside_wrapper do %>
<div class="legal-wrapper">
  <article>
    <h1>Learning Ember.js</h1>
    <p><img src="/images/tomsters/teaching-reverse.png" alt="" role="presentation" class="learning-tomster"> Are you getting started on your Ember.js adventure? Check out our official reading material:
    </p>

    <ul>
      <li> <a href="https://guides.emberjs.com/current/getting-started/quick-start/"><strong>Quick start</strong><i class="icon-link-ext"></i></a>: An easy breezy introduction to the framework.</li>
      <li> <a href="https://guides.emberjs.com/current/tutorial/ember-cli/"><strong>Tutorial</strong><i class="icon-link-ext"></i></a>: Follow our tutorial to build, and deploy, your first Ember.js application!</li>
      <li> <a href="https://guides.emberjs.com/"><strong>Guides</strong><i class="icon-link-ext"></i></a>: Whether you're just getting started and want to get familiar with Ember, or you're looking to refresh your knowledge on a certain feature, the Guides are the place for you.</li>
    </ul>
    <section>
      <h2>API Reference</h2>

      <p>
        Explore the available API of the various Ember ecosystem libraries. This is where you want to go to read in details about the various features, including example code.
      </p>

      <ul class="api-reference-list">
        <li><a href="http://emberjs.com/api/">
          <img src="/images/learn/ember.png" class="project-logo" alt="Ember">
        </a></li>
        <li><a href="http://emberjs.com/api/ember-data/">
          <img src="/images/learn/ember-data.png" class="project-logo" alt="Ember Data">
        </a></li>
        <li><a href="http://ember-cli.com/api/">
          <img src="/images/learn/ember-cli.png" class="project-logo" alt="Ember CLI">
        </a></li>
      </ul>
    </section>
    <section>
      <h2 id="deprecations" class="anchorable-toc"> <a href="http://emberjs.com/deprecations/">Deprecation Guides<i class="icon-link-ext"></i></a></h2>
      <p>
        The broader JavaScript ecosystem is always changing and evolving, so Ember has processes
        and tools in place to protect your app from churn while still providing the best new web
        app features. Ember uses a careful deprecation process to roll out changes to the API.
        You can read our <a href="http://emberjs.com/deprecations/">deprecation guides</a>
        to see past and upcoming deprecations. 
        <a href="https://github.com/ember-cli/ember-cli/releases">
          Upgrade your ember-cli version
        </a> 
        to see which of them affect your app, when they are scheduled to change, and how to fix
        them. Major changes are often accompanied by codemod tools.
      </p>
   </section>
    <section>
      <h2>Ecosystem</h2>

      <p>
        One of the main strengths of Ember is how shared conventions enable developers to build on top of each other's work and improve the ecosystem for everyone. For example, here are some projects closely maintained by Ember teams:
      </p>

      <p>
        <strong>Ember CLI</strong>: The official command line toolkit to develop Ember applications. Check out the <a href="https://ember-cli.com/user-guide/">User Guide</a>, and the documentation on how to <a href="https://ember-cli.com/extending/">extend Ember CLI</a> as an addon developer.
      </p>

      <p><strong>Ember Inspector</strong>: A browser plugin/bookmarklet that helps you inspect and debug applications. Learn how best to use it in the <a href="https://guides.emberjs.com/current/ember-inspector/installation/">Ember Inspector Guides</a>.</p>

      <p><strong>Liquid Fire</strong>: A toolkit to add animations and transitions to your application. Check out their <a href="http://ember-animation.github.io/liquid-fire/">interactive documentation</a>.</p>

      <p><strong>Ember Twiddle</strong>: Online code editor so you can share working snippets of code or reproductions of bugs. Try it out <a href="http://ember-twiddle.com/">today</a>!</p>

      <p><strong>FastBoot</strong>: Server-side rendering library for Ember applications. Check out the <a href="http://www.ember-fastboot.com/quickstart">Quickstart</a> to get up and running, and the <a href="http://www.ember-fastboot.com/docs/user-guide">User Guide</a> for more detailed information.
      </p>
    </section>
    <section>
      <h2 id="showcase" class="anchorable-toc">Showcase</h2>
      <p>In this section you will find applications that are maintained by the Ember.js teams with the help of contributors. While software is always a work in progress, the goal is to showcase patterns and solutions applied in real-world applications.</p>
      <p>Whether you're simply interested in checking out how some feature is implemented, or you're looking to contribute, one of these projects might pique your interest!</p>

      <div class="showcase">
        <% data.showcase.each do |showcase| %>
          <div class="showcase--item">
            <div class="showcase--screenshot">
              <img class="showcase--image" src="/images/learn/<%= showcase.image.src %>" alt="<%= showcase.image.alt %>">
            </div>
            <div class="showcase--description">
              <h3> <a href="<%= replace_current_version showcase.demo %>"><%= showcase.name %><i class="icon-link-ext"></i></a></h3>

              <p>Repository: <a href="<%= showcase.repository %>"><%= showcase.repository %></a></p>

              <p>
                <%= replace_current_version showcase.description %>
                <ul>
                <% showcase.features.each do |feature| %>
                  <li><%= feature %></li>
                <% end %>
                </ul>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </section>
    <section>
      <a href="/statusboard"><h2 id="statusboard">Status Board</h2></a>
      <p>
        Interested in seeing the overall picture of what we're working on next? Check out our <a href="/statusboard">Status Board</a> for more details!
      </p>
    </section>
    <section>
      <h2 id="faq">Frequently Asked Questions</h2>

      <h3 id="faq-glimmer">What is Glimmer? Do I need to learn it too?</h3>

      <p>
        Glimmer is a rendering engine used in Ember. However, in order to build Ember apps, you don't need to know anything about Glimmer, other than it's super fast and that the contributors to the core codebase love to geek out about it. It's all behind the scenes. If you're curious to know how the Glimmer project fits into the roadmap for Ember's development, you can <a href="https://discuss.emberjs.com/t/readers-questions-will-breaking-up-ember-remove-the-need-for-glimmer-js/14325">learn more here</a>.
      </p>

      <h3 id="faq-pitch">How do I pitch Ember at my company?</h3>

      <p>
        Here are some <a href="https://discuss.emberjs.com/t/readers-questions-how-do-i-pitch-ember-at-my-company/14289"> strategies</a> that may help you out.
      </p>

      <h3 id="faq-controllers">Is it ok to use controllers?</h3>

      <p>
        Yes. Controllers are the right place to put URL query params, actions and attributes that need to be passed from the route level to components, and lifecycle hook code.
      </p>

      <h3 id="faq-future-proof">How do I future-proof my Ember.js application?</h3>
      
      <p>
        You should not try to future proof your application. Ember.js has a strong emphasis on developer productivity, which means that framework developers take great care when designing new functionality and provide migration paths. Here are some ways to keep up to date on future changes:
      </p>

      <ul>
        <li>
          Feature Flags: Many new features are implemented under optional flags so that users can try them out and report any issues.
        </li>
        <li>
          RFCs: Ember.js follows a community-driven process for its development that incorporates <a href="https://github.com/emberjs/rfcs">RFCs for features and deprecations.</a> An RFC is a Request for Comments. Before changes are made to Ember's API, they are proposed publicly and the community is asked to review and comment. Anyone can create an RFC, not just Core Team members. RFCs undergo many edits to incorporate community feedback. If a proposal has enough support, it is merged, meaning that work may begin to integrate the functionality into the codebase.
        </li>
        <li>
          Deprecations: The <a href="http://emberjs.com/deprecations/">Deprecation Guides</a> contain upcoming deprecations and how to resolve them.
        </li>
        <li>
          Codemods: When it's time for a major version upgrade, and there are syntax edits to make, tools like codemods are provided to help you make changes quickly. 
        </li>
        <li>
          LTS lifecycle: If you won't be updating your app versions frequently, consider using the Long Term Support (LTS) versions of Ember. These are usually every 4 minor releases (for example, 2.8, 2.12, 2.16) and final major releases (2.18). LTS versions have extended windows for bugfixes and security updates.
        </li>
        <li>
          Release schedule: Every six weeks, candidate features are reviewed and either deemed ready to be included in the stable release, or carry on in beta for another cycle until the next release happens.
        </li>
      </ul>
      <p>
        In short, the best way to make sure you have a healthy application is to comment on RFCs, clean up deprecations when you see them, and when possible, test your application against beta and canary releases of Ember.
      </p>
    </section>
  </article>
</div>
<% end %>
