---
title: "Tomster and Zoey"
alias: ["tomster/", "zoey/"]
responsive: true
---

<% content_for :foot do %>
  <%= javascript_include_tag 'tomster' %>
<% end %>

<div class="tomster section intro">
  <h1>Tomster and Zoey</h1>
  <p>
    Tomster was the first of many friendly faces of the Ember project and community. Over the years we've dressed and redressed him for all sorts of fun projects and reasons. With the addition of his sister Zoey, you'll see Ember friends around even more.
  <p>
  <p>
    Tomster is a registered and protected trademark. These images may not be used without specific and explicit consent (which we aim never to hold back unreasonably). If you have questions about using or commissioning a custom Mascot, <a href="/tomster/faq">check out the FAQ</a>.
  </p>
</div>

<div class="tomster section list">
  <div id="tomster-filter">
    <ul>
      <li><%= link_to "All", "/mascots" %> | </li>
      <li><%= link_to "Tomsters", "/mascots", :query => { :filter => 'tomster' } %> | </li>
      <li><%= link_to "Zoeys", "/mascots", :query => { :filter => 'zoey' }  %> | </li>
      <li><%= link_to "Meetups", "/mascots", :query => { :filter => 'meetup' }  %> | </li>
      <li><%= link_to "Conferences", "/mascots", :query => { :filter => 'conference' }  %> | </li>
      <li><%= link_to "Corporate", "/mascots", :query => { :filter => 'corp' }  %> | </li>
      <li><%= link_to "Others", "/mascots", :query => { :filter => 'other' }  %></li>
    </ul>
  </div>
  <div id="tomster-list">
    <% data.tomsters.sort_by {|t| [Date.parse(t.date), t.title] }.reverse.each_slice(2) do |slice| %>
      <% slice.each do |tomster| %>
        <div class="tomster-wrapper" data-tags="<%= tomster.tags %>">
          <div class="tomster-container">
            <div class="tomster-image">
              <img src="<%= tomster.image %>">
            </div>
            <div class="tomster-info">
              <% if tomster.url %>
              <a href="<%= tomster.url %>" class="title">
                <%= tomster.title %>
              </a>
              <% else %>
                <p class="not-yet-url title"><%= tomster.title %></p>
              <% end %>
              <div class="date">
                <%= tomster.date %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
