---
title: "Community"
---

<h1>
  Ember Meetup Assets
</h1>

<p>
  The following Meetup Badges are optimized for the main Meetup.com size. Get in touch if we can help you with something else.
</p>

<div class="team section">

<table class="headshots">
  <% data.fetch('meetups').each_slice(4) do |slice| %>
    <tr>
      <% slice.each do |user| %>
        <td>
          <p>
            <%= user.location %>
          </p>
          <a href="<%= user.url %>" rel="nofollow">
            <img src="/images/meetups/<%= user.image %>">
          </a>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<table class="columns">
    <tr>
      <% data.meetups.each do |name, groups| %>
        <td>
          <h3><%= name %></h3>
          <ul>
            <% groups.sort_by(&:location).each do |group| %>
              <li><%= link_to group.location, group.url %></li>
            <% end %>
          </ul>
        </td>
      <% end %>
    </tr>
  </table>


</div>