---
title: "Team"
responsive: true
---

<h1>
  The Team Behind Ember
</h1>

<p class="lead">
  Ember is an Open Source project that relies on the tireless support of individual contributors.<br>
  These are the members of our Core Team:
</p>

<div class="team section">

<% core = data.team.select { |m| m.teams.include?('core') } %>

<ul class="headshots">
  <% core.each do |user| %>
    <li>
      <a href="<%= user.github %>" rel="nofollow" class="avatar">
        <img src="/images/team/<%= user.image %>">
      </a>

      <p class="name">
        <%= user.name %>
      </p>

      <ul class="social">
        <li>
          <a class="twitter" href="<%= user.twitter %>">
            <i class="icon-twitter"></i>
          </a>
        </li>

        <li>
          <a class="github" href="<%= user.github %>">
            <i class="icon-github"></i>
          </a>
        </li>
      </ul>

      <p class="bio">
        <%= user.bio %>
      </p>
  </li>
  <% end %>
</ul>

<hr>

<h1>
  The Ember Subteams
</h1>

<p class="lead">
  In addition to the Core Team, the following people contribute significantly to the Ember project.<br>
  We're grateful for their assistance.
</p>

<%
subteams = ['cli', 'data', 'learning'];
subteams = subteams.map { |team|
  data.team.select {|u| u.teams.include?(team); }.map {|u| u['type'] = team; u }
}.flatten

subteams.sort_by! {|u| [u.type, u.name] }
%>

<ul class="contributors headshots">
  <% subteams.each do |user| %>
    <li>
      <a href="<%= user.github %>" rel="nofollow" class="avatar">
        <img src="/images/team/<%= user.image %>">

        <span class="type"><%= user.type %></span>
      </a>

      <p class="name">
        <%= user.name %>
      </p>
  </li>
  <% end %>
</ul>

<hr>

<h1>
  Ember Core Alumni
</h1>

<p class="lead">
  Serving as a member of the Core Team of an open source project like Ember is a huge amount of work.<br>
  These are retired members of the Ember Core Team, to whom we will always be grateful:
</p>

<% alumni = data.team.select { |m| m.teams.include?('corealumni') } %>

<ul class="headshots">
  <% alumni.each do |user| %>
    <li>
      <a href="<%= user.github %>" rel="nofollow">
        <img src="/images/team/<%= user.image %>" width="150" height="150">
      </a>
      <p>
        <%= user.name %>
      </p>
    </li>
  <% end %>
</ul>

</div>
