---
title: "Team"
responsive: true
---

<h1 class="text-center">
  The Team Behind Ember
</h1>
<p class="lead text-center">
  Ember is an Open Source project that relies on the tireless support of individual contributors. These are the teams that guide the development and instruction of Ember.js. 
</p>

<section class="team section">
<h2 class="text-center">The Core Team</h2>

<% core = data.team.select { |m| m.teams.include?('core') } %>

<ul class="headshots">
  <% core.each do |user| %>
    <li>
      <a href="<%= user.github %>" rel="nofollow" class="avatar">
        <img src="/images/team/<%= user.image %>" alt="<%= user.name %>">
      </a>

      <p class="name">
        <%= user.name %>
      </p>

      <ul class="social">
        <li>
          <a class="twitter" href="<%= user.twitter %>" aria-label="<%= user.name %> Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="github" href="<%= user.github %>" aria-label="<%= user.name %> Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>

      <p class="bio">
        <%= user.bio %>
      </p>
  </li>
  <% end %>
</ul>
</section>

<hr/>
<section class="team section">
  <h2 class="text-center">
    The Ember CLI Team
  </h2>
  <p class="lead text-center">
    
  </p>

  <%
  subteams = ['cli'];
  subteams = subteams.map { |team|
    data.team.select {|u| u.teams.include?(team); }.map {|u| u['type'] = team; u }
  }.flatten

  subteams.sort_by! {|u| [u.last] }
  %>

  <ul class="contributors headshots">
    <% subteams.each do |user| %>
      <li class="team-avatar">
        <a href="<%= user.github %>" rel="nofollow" class="avatar" >
          <img src="/images/team/<%= user.image %>" alt="<%= user.name %>">
        </a>

        <p class="name">
          <%= user.name %>
        </p>
        <ul class="social">
        <li>
          <a class="twitter" href="<%= user.twitter %>" aria-label="<%= user.name %> Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="github" href="<%= user.github %>" aria-label="<%= user.name %> Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <% end %>
  </ul>
</section>
<hr/>
<section class="team section">
  <h2 class="text-center">
    The Ember Data Team
  </h2>
  <p class="lead text-center">
    
  </p>

  <%
  subteams = ['data'];
  subteams = subteams.map { |team|
    data.team.select {|u| u.teams.include?(team); }.map {|u| u['type'] = team; u }
  }.flatten

  subteams.sort_by! {|u| [u.last] }
  %>

  <ul class="contributors headshots">
    <% subteams.each do |user| %>
      <li class="team-avatar">
        <a href="<%= user.github %>" rel="nofollow" class="avatar" aria-label="<%= user.name %>">
          <img src="/images/team/<%= user.image %>" role="presentation" alt="">
        </a>

        <p class="name">
          <%= user.name %>
        </p>
        <ul class="social">
        <li>
          <a class="twitter" href="<%= user.twitter %>" aria-label="<%= user.name %> Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="github" href="<%= user.github %>" aria-label="<%= user.name %> Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <% end %>
  </ul>
</section>
<hr/>
<section class="team section">
  <h2 class="text-center">
    The Ember Learning Team
  </h2>
  <p class="lead">
    
  </p>

  <%
  subteams = ['learning'];
  subteams = subteams.map { |team|
    data.team.select {|u| u.teams.include?(team); }.map {|u| u['type'] = team; u }
  }.flatten

  subteams.sort_by! {|u| [u.last] }
  %>

  <ul class="contributors headshots">
    <% subteams.each do |user| %>
      <li class="team-avatar">
        <a href="<%= user.github %>" rel="nofollow" class="avatar">
          <img src="/images/team/<%= user.image %>" alt="<%= user.name %>">
        </a>

        <p class="name">
          <%= user.name %>
        </p>
        <ul class="social">
        <li>
          <a class="twitter" href="<%= user.twitter %>" aria-label="<%= user.name %> Twitter">
            <i class="icon-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a class="github" href="<%= user.github %>" aria-label="<%= user.name %> Github Profile">
            <i class="icon-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <% end %>
  </ul>
</section>
<hr/>
<section class="team section">
<h2 class="text-center">
    Ember Core Alumni
  </h2>
  <p class="lead text-center">
    Serving as a member of the Core Team of an open source project like Ember is a huge amount of work. These are retired members of the Ember Core Team, to whom we will always be grateful.
  </p>

  <% alumni = data.team.select { |m| m.teams.include?('corealumni') } %>

  <ul class="headshots">
    <% alumni.each do |user| %>
      <li class="team-avatar">
        <a href="<%= user.github %>" rel="nofollow">
          <img class="alumni" src="/images/team/<%= user.image %>" alt="<%= user.name %>" />
        </a>
        <p>
          <%= user.name %>
        </p>
      </li>
    <% end %>
  </ul>
</section>
